html, body {
  font-family:'corrier new';
  font-size: 12pt;
  margin: 0;
  padding: 0;
};

a {
  color: #FFF;
  text-decoration: none;
}

a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFC;
  text-decoration: none;
}

a:active {
  color: #FFC;
  text-decoration: none;
}